#header h1{
    color: mediumblue;
}

#header h2{
    color: #567398;
}

#header{
    background: antiquewhite;
}

a{
    color: crimson;
    text-decoration: none;
    font-weight: bold;
}

a:hover{
    color: darkmagenta;
    text-decoration: underline;
    background-color: aquamarine;
}